<!DOCTYPE html>
<html>
<head>
  <title>jsonp</title>
  <script src="lib/angular.js"></script>
  <script src="js/app.js"></script>
</head>
<body ng-app="app" ng-controller="WeatherController as vm">
  <div>
    <form>
      <input
        ng-model='vm.loc'
        ng-change="vm.getFeed(vm.loc)"
        ng-model-options="{debounce: 500}"
        />{{vm.loc}}
      <button ng-click="vm.getFeed(vm.loc)">Click</button>
    </form>
    <div ng-show="vm.spinner">Loading!!!</div>
    <div>
      <pre>
        {{vm.weather | json}}
      </pre>
    </div>
  </div>
</body>
</html>











<!--
Model Options Debounce - ng-model-options="{debounce: 500}"
 -->












<!-- Initial state -->

<!--
<!DOCTYPE html>
<html>
<head>
  <title>jsonp</title>
  <script src="angular.js"></script>
  <script src="demo.js"></script>
</head>
<body ng-app="app" ng-controller="WeatherController">
  <div>
    <form>
      <input ng-model='loc'/>{{loc}}
      <button ng-click="getFeed()">Click</button>
    </form>
    <div ng-show="spinner">Loading!!!</div>
    <div>
      <pre>
        {{weather | json}}
      </pre>
    </div>
  </div>
</body>
</html>
 -->
